@if (Categories!=[]) {
  <div class="bg-white mt-4 rounded-lg">
    <owl-carousel-o [options]="customOptions">
    @for (item of Categories; track $index) {
     <ng-template carouselSlide [id]="item._id">
        <div class="p-1 flex flex-col justify-center items-center hover:scale-[104%] cursor-pointer py-4">
            <div class="w-[150px] h-[150px] rounded-full overflow-hidden flex items-center justify-center">
                <img [src]="item.image" class="object-fill">
            </div>
            <div class="text-center">{{item.name}}</div>
        </div>
      </ng-template>
    }
    @empty {
      <app-loader></app-loader>
    }
</owl-carousel-o>
  </div>
}

