<h2 class="text-lg text-center font-bold mb-6 ">Enter the code sent to your email</h2>
<form
[formGroup]="formgroup"
(ngSubmit)="submitVerifyCode(formgroup)"
>
  <div class="mb-7 flex gap-1">
    <input
      type="text"
      class="w-1/6 p-2 py-4 border border-gray-300 focus:border-blue-500 text-center rounded-lg"
      maxlength="1"
      (keyup)="oninput($event)"
      formControlName="1"
    />
    <input
      type="text"
      class="w-1/6 p-2 py-4 border border-gray-300 focus:border-blue-500 text-center rounded-lg"
      maxlength="1"
      (keyup)="oninput($event)"
      formControlName="2"
    />
    <input
      type="text"
      class="w-1/6 p-2 py-4 border border-gray-300 focus:border-blue-500 text-center rounded-lg"
      maxlength="1"
      (keyup)="oninput($event)"
      formControlName="3"
    />
    <input
      type="text"
      class="w-1/6 p-2 py-4 border border-gray-300 focus:border-blue-500 text-center rounded-lg"
      maxlength="1"
    (keyup)="oninput($event)"
          formControlName="4"
    />
    <input
      type="text"
      class="w-1/6 p-2 py-4 border border-gray-300 focus:border-blue-500 text-center rounded-lg"
      maxlength="1"
    (keyup)="oninput($event)"
          formControlName="5"
    />
    <input
      type="text"
      class="w-1/6 p-2 py-4 border border-gray-300 focus:border-blue-500 text-center rounded-lg"
      maxlength="1"
    (keyup)="oninput($event)"
          formControlName="6"
    />
  </div>

  @if(!isLoading)
  {
    <button
    type="submit"
    [disabled]="!formgroup.valid"
    [class.bg-gray-300]="!formgroup.valid"
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
  }
  @else {
<button
    type="submit"
    [disabled]="!formgroup.valid"
    [class.bg-gray-300]="!formgroup.valid"
    class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
     <i class="fa-solid fa-circle-notch fa-spin"></i>
  </button>
  }

  @if (isInvalidCode) {
    <div
      class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>
         Invalid or expired code
      </div>
    </div>
  }
</form>
