<h1 class="text-2xl font-bold mb-4 ">Create New Password</h1>
<form
[formGroup]="formgroup"
(ngSubmit)="sendPassword(formgroup)"
>
   <div class="mb-5">
    <label
      for="password"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >New Password</label
    >
    <input
      type="password"
      id="password"
      formControlName="password"
      class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required
    />
    @if(formgroup.get("password")?.touched && formgroup.get('password')?.hasError('required')) {
                        <div
      class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>
         password is required
      </div>
    </div>
    }
    @else if (formgroup.get("password")?.touched && formgroup.get('password')?.hasError('pattern')) {
            <div
      class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>
         enter a strong password
      </div>
    </div>
    }

    </div>

    <div class="mb-5">
    <label
      for="rePassword"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >re password</label
    >
    <input
      type="password"
      id="rePassword"
      formControlName="rePassword"
      class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required
    />

    @if (formgroup.get('rePassword')?.touched && formgroup.get('rePassword')?.hasError('required')) {
                    <div
      class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>
         re password is required
      </div>
    </div>
    }
    @else if(formgroup.get("rePassword")?.touched && formgroup.getError('didNotMatch'))
    {
                            <div
      class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>
         password doesnt match
      </div>
    </div>
    }
    </div>

      @if(isLoading){
      <button
    type="submit"
    [disabled]="!formgroup.valid"
    [class.bg-gray-300]="!formgroup.valid"
    class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
     <i class="fa-solid fa-circle-notch fa-spin"></i>
  </button>
  }
  @else {
    <button
    type="submit"
    [disabled]="!formgroup.valid"
    [class.bg-gray-300]="!formgroup.valid"
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
  }

  @if(success){
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
       your password has been updated
     </div>
  }
  @if(failure)
  {
<div
      class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>
         new password is the same as old
      </div>
    </div>
  }

</form>